.Bakgrund {
    background-image: url('./images/snow_winter_trees.jpg');
    background-size: contain;
    border: 3px solid #d6001c;
    padding:10px;
    border-radius: 10px;
    height: 510px;

}

.Länkar {
    display: flex;
    padding: 10px;
    border: 3px solid #d6001c;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.Bilder {
    color: #d6001c;
    padding: 10px;
    max-width: 33.33%;
    max-height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.Webbutveckling {
    display: flex;
    padding: 10px;
}

.Mitten {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid #d6001c;
    border-radius: 10px;
}

.Vänster {
    display: flex;
    padding: 10px;
    border: 3px solid #d6001c;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.Mellan {
    display: flex;
    padding: 10px;
    border: 3px solid #d6001c;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.Julträd {
    border: 3px solid #d6001c;
    border-radius: 10px;
    width: 100px;
    height: 340px;
}

.Sidfot {
    border: 3px solid #d6001c;
    border-radius: 10px;
    text-align: center;
}
.standard-font {
    text-align: center;
    font-family:'Times New Roman', Times, serif
}

h1 {
    font-family: 'Mountains of Christmas', cursive;
}